---
---

@import "{{ site.theme }}";

/**** THEME WHITE / BLUE ***/
.main-theme {
  background: none;
  background-color: #f2f2f2;
  color: #000;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.main-theme header {
  border-bottom: none;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}

.main-theme header h1::before {
  color: #0366d6;
}

.main-theme header h1 {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.main-theme header h1 {
  color: #000;
}

.main-theme header h2 {
  color: #666;
}

.main-theme h1, .main-theme h2, .main-theme h3, .main-theme h4, .main-theme h5, .main-theme h6 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #0366d6;
}

.main-theme a {
  color: #0366d6;
}

.main-theme .nav-github-icon i, .main-theme .nav-linkedin-icon i {
  color: #000;
  text-shadow: none;
}

.main-theme hr {
  border-bottom: 1px dashed #0366d6;
  color: #0366d6;
}

.main-theme ul {
  list-style: square;
}

.main-theme li:before {
}

.main-theme li {
  list-style-image: none;
}
/************************************/
/************************************/
/************************************/


html {
  height: 100%
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: #b5e853;
}

.nav {
  padding-bottom: 20px;
}

.nav a {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-home-icon {
  text-decoration: none;
}

.nav-github-icon, .nav-linkedin-icon {
  text-decoration: none;
  float: right;
}

.nav-github-icon i, .nav-linkedin-icon i {
  color: #ffffff;
}

.nav-menu-icon {
  display: none;
  text-decoration: none;
}

.contact-item span {
  vertical-align: 10px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
    line-height: 1.4;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.nav-menu-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a {
    /* float: none; */
    display: block;
    text-align: left;
	padding-bottom: 5px;
  }
  .nav.responsive .nav-menu-icon {
	position: absolute;
    right: 0;
    top: 0;
	float: right;
  }
}
