---
---

@import "{{ site.theme }}";

.nav {
  padding-bottom: 20px;
}

.nav-menu {
  float: left;
}

.nav-networks {
  float: right;
}

.nav a {
  color: #b5e853;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-home {
  text-decoration: none;
}

.nav-networks a {
  text-decoration: none;
}

.nav-github i {
  color: #ffffff;
}

.nav-linkedin i {
  color: #ffffff;
}